---
import Base from '@layouts/base.astro'
import { Image } from 'astro:assets'

// Images
import HeroImg from '@images/hero.webp'
import Shot1 from '@images/shot-1.webp'
import Shot2 from '@images/shot-2.webp'
import Button from '@components/button.astro';
---

<Base>
  <section class="mb-[8vw] flex items-end gap-[3em]">
    <div>
      <h1 class="m-0 max-w-[8em] text-[calc(2em+1.6vw)] font-extrabold leading-[1.05] tracking-tighter">
				Your friendly information manager
			</h1>
      <p class="m-[.5em_0_1.2em] max-w-[18em] text-[calc(1.2em+.5vw)] font-light text-[#777]">
        Tackle everything with notes, tasks, and schedules all in one pleasant
        place.
      </p>

      <Button href="/start/">Get started</Button>
      <Button href="/changelog/" secondary>Changelog</Button>

      <p class="mt-[3em] text-[90%] text-[#444]">
        Photo credits: <a href="//dribbble.com/vlockn">Vishnu Prasad</a> • Content
        credits: AI
      </p>
    </div>

    <Image
	src={HeroImg}
	alt="Aimee user interface shots"
	width="749"
	height="562"
    />
  </section>

  <section>
    <div>
      <h2>Centralized storage</h2>
      <p>
        Access and manage their data with ease, without the need to switch
        between different applications or platforms.
      </p>
      <Image src={Shot1} alt="Screenshot #2" width="518" height="389" />
    </div>
    <div>
      <h2>Custom categories and tags</h2>
      <p>
        Quick and easy retrieval of information, empowering you to find exactly
        what you need, when you need it.
      </p>
      <Image src={Shot2} alt="Screenshot #3" width="518" height="389" />
    </div>
  </section>
</Base>
