---
import { CONSTANTS } from '@constants'
import SiteNav from '@components/site-nav.astro'
import '@base.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-gradient-to-b from-[#eceef3] to-white p-[3%_5%]">
    <SiteNav />

    <main>
      <slot />
    </main>

    <!-- body > footer {
  display: flex;
  gap: 3em;

  > :first-child { flex: .5 }

  aside {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    display: grid;
    gap: 2em;
    flex: 1;
  }

  a {
    display: block;
    padding: .5em 0;
  }

  @media (max-width: 800px) {
    flex-direction: column;
  }
}
 -->
    <footer class="mb-16 mt-32 flex flex-col gap-[3em] md:flex-row">
      <h2 class="flex-[.5]">{CONSTANTS.brand}</h2>
      <aside
	class="grid flex-[1] grid-cols-[repeat(auto-fill,_minmax(150px,_1fr))] gap-[2em]"
      >
        <!-- To astro -->
        {
          Object.entries(CONSTANTS.footer_navi).map(([cat, entries]) => {
            return (
              <nav>
                <h3>{cat}</h3>
                {entries.map((el) => {
                  return (
                    <a
	class="block py-[.5em] text-[90%] font-medium text-black opacity-60 hover:opacity-100 active:opacity-100"
	href="#"
                    >
                      {el}
                    </a>
                  )
                })}
              </nav>
            )
          })
        }
      </aside>

      <dialog
	id="menu"
	class="left-[inherit] right-[1em] top-[1em] w-[250px] scroll-mt-[1em] rounded-md border
	border-[#eee] bg-white p-[4%] shadow-[0_0_0_1000em_rgba(0,_0,_0,_.6)] [&:target]:block"
      >
        <a
	href="#"
	class="absolute right-[.4em] top-[.15em] text-[2em] font-[200]"
        >&times;</a
        >
        <SiteNav insideDialog />
      </dialog>
    </footer>
  </body>
</html>
