---
import { CONSTANTS } from '@constants'
import SiteNav from '@components/site-nav.astro'
import '@base.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-gradient-to-b from-[#eceef3] to-white p-[3%_5%]">
    <SiteNav />

    <main>
      <slot />
    </main>

    <footer class="mb-16 mt-32">
      <h2>{CONSTANTS.brand}</h2>
      <aside>
        <!-- To astro -->
        {
          Object.entries(CONSTANTS.footer_navi).map(([cat, entries]) => {
            return (
              <nav>
                <h3>{cat}</h3>
                {entries.map((el) => {
                  return <a href="#">{el}</a>
                })}
              </nav>
            )
          })
        }
      </aside>

			background-color: #fff;
			border: 1px solid #eee;
			border-radius: .4em;
			padding: max(4%, 1.5em) 4%;
      <dialog
	id="menu"
	class="left-[inherit] right-[1em] top-[1em] w-[250px] scroll-mt-[1em] rounded-md border
	border-[#eee] bg-white p-[4%] shadow-[0_0_0_1000em_rgba(0,_0,_0,_.6)] [&:target]:block"
      >
        <a href="#" class="absolute right-[.4em] top-[.15em] text-[2em] font-[200]">&times;</a>
        <SiteNav insideDialog />
      </dialog>
    </footer>
  </body>
</html>
